<div class="header m-0 p-3 text-white">
	<h1 class="header m-0 p-0">
		CREATE PLAN
	</h1>
</div>
<div
	class="container text-center text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
	<form class="" action="/plans" method="post">
		<button
			class="rounded-pill text-white border-0 px-5 py-2 mb-3"
			style="background-color: rgb(29,113,187)"
		>
			CREATE
		</button>
		<div class="">
			<hr class="my-1">
			{{#each groups as |group| }}
			<label for="">{{group._id}}</label>
			<ul class="list-inline m-0 text-start">

				{{#each group.machines as |machine|}}
				<li class="list-inline-item m-2">
					 <div class="inputGroup">
					 	<input id="{{machine.title}}" name="machines" value="{{machine._id}}" type="checkbox"/>
		    		<label for="{{machine.title}}">{{machine.title}}</label>
					</div>
				</li>
				{{/each}}
				<hr class="my-1">
			</ul>
			{{/each}}
		</div>
	</form>

{{> navbar}}
