<div class=" m-0 p-3 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		TRAINING {{date}}
	</h1>
</div>
<div
	class="container text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
	<ul class="m-0 p-0" >
		{{#each record as |r|}}
		<li class="list-unstyled m-3 p-3 text-white" style="width: 340px; height: 130px; background-color: rgba(26,67,105,1)">
			<div class="row">
					<div class="col-6">
						<h2>{{r.machine}}</h2>
						{{!-- <p class="text-start">Weight: 60 lbs</p> DO NOT KNOW HOW TO GET THIS INFORMATION YET --}}
						<p class="text-start">Duration:</p>
						<p class="text-start">{{r.duration}}</p>
					</div>
					<div class="col-6 text-center">
						<form action="/records/{{r.date}}/{{r._id}}?_method=delete" method="post">
						<button
							class="rounded-pill text-white border-0 px-4 py-1 mt-4"
							style="background-color: rgb(26,67,105); font-size: 15px"
						>
							<svg
							xmlns="http://www.w3.org/2000/svg"
							width="30"
							height="30"
							fill="white"
							class="bi bi-trash3-fill"
							viewBox="0 0 16 16">
							<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
						</svg>
					</button>
					</form>
				</div>
			</div>
		</li>
		{{/each}}		
	</ul>
</div>
{{> navbar}}
